<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
     <strong>Ticket:</strong>
    <ul>
      <% event.tickets.each do |ticket| %>
        <li>
          <%= ticket.name %>
          RM <%= ticket.price %>
          <%= ticket.quantity %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
