
<%= simple_form_for @event, html: { data: {
  controller: "nested-form",
  nested_form_target: "nested-form.form",
  nested_form_wrapper_selector_value: ".nested-form-wrapper"
} } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
  </div>

  <%# Start Custom Logic Here %>
  <template data-nested-form-target="template">
    <%= f.fields_for :tickets, Ticket.new, child_index: "NEW_RECORD" do |ticket_fields| %>
      <%= render "events/event_ticket_form", f: ticket_fields %>
    <% end %>
  </template>

  <div data-nested-form-target="target">
    <%= f.fields_for :tickets do |ticket_fields| %>
      <%= render "events/event_ticket_form", f: ticket_fields %>
    <% end %>
  </div>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add" data-target="nested-form.target">Add ticket</button>
  <%# End Custom Logic Here%>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
